
@{
 
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginView.cshtml";
}
@*<div class="card-body">
    <div class="d-flex align-items-center justify-content-between m-b-30">
        <img class="img-fluid" alt="" src="Adminassets/images/logo/logo.png">
        <h2 class="m-b-0">Sign In</h2>
    </div>
    <form>
        <div class="form-group">
            <label class="font-weight-semibold" for="userName">Username:</label>
            <div class="input-affix">
                <i class="prefix-icon anticon anticon-user"></i>
                <input type="text" class="form-control" id="userName" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-semibold" for="password">Password:</label>
            <a class="float-right font-size-13 text-muted" href="">Forget Password?</a>
            <div class="input-affix m-b-10">
                <i class="prefix-icon anticon anticon-lock"></i>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-center justify-content-between">
                <span class="font-size-13 text-muted">
                    Don't have an account? 
                    <a class="small" href=""> Signup</a>
                </span>
                <button class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </form>
</div>*@
  <div class="card-body">
        <div class="d-flex align-items-center justify-content-between m-b-30">
            <img class="img-fluid" alt="" src="~/Adminassets/images/logo/dark.png">
            <h2 class="m-b-0">Sign In</h2>
        </div>
        <form>
            <div class="form-group">
                <label class="font-weight-semibold" for="userName">Username:</label>
                <input type="text" class="form-control" id="userName" placeholder="Username">
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="font-weight-semibold" for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between p-t-15">
                    <div class="checkbox">
                        <input id="checkbox" type="checkbox">
                        <label for="checkbox"><span>I have read the <a href="">agreement</a></span></label>
                    </div>
                    <button class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
</div>