<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
      <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Adminassets/images/logo/favicon.ico"/>

    <!-- page css -->
    <link href="~/Adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">
    <link href=" https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div class="app">
    <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image:url('/images/imagesAdmin/login1.png');">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="container d-flex h-100">
                <div class="row align-items-center w-100">
                    <div class="col-md-7 col-lg-5 m-h-auto">
                        <div class="card shadow-lg">
                                @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex p-h-40 justify-content-between">
                <span class=""></span>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-dark text-link" href=""></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark text-link" href=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <!-- Core Vendors JS -->
    <script src="~/Adminassets/js/vendors.min.js"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="~/Adminassets/js/app.min.js"></script>

</body>

</html>