@using MarketOnlineWebsite.Extension
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
@*    <link rel="shortcut icon" href="~/Adminassets/images/logo/fa.png*@
       <link rel="shortcut icon" type="image/x-icon" href="~/Adminassets/images/logo/favicon.ico"/>

    <!-- page css -->
    <link href="~/Adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">
    <link href=" https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)


</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            <div class="header">
                <div class="logo logo-dark">
                    <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">
                        <img src="~/Adminassets/images/logo/dark.png" alt="Logo" style="padding-top: 20px;">
                        <img class="logo-fold" src="~/Adminassets/images/logo/dark.png" alt="Logo" style="width: 74px;padding-top: 27px;">
                    </a>
                </div>
                <div class="logo logo-white">
                    <a href="index.html">
                        <img src="~/Adminassets/images/logo/logo-white.png" alt="Logo">
                        <img class="logo-fold" src="~/Adminassets/images/logo/dark.png" alt="Logo" style="width: 74px;padding-top: 27px;">
                    </a>
                </div>
                <div class="nav-wrap">
                    <ul class="nav-left">
                        <li class="desktop-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                        <li class="mobile-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="dropdown dropdown-animated scale-left">
                            <a href="javascript:void(0);" data-toggle="dropdown">
                                <i class="anticon anticon-bell notification-badge"></i>
                            </a>
                            <div class="dropdown-menu pop-notification">
                                <div class="p-v-15 p-h-25 border-bottom d-flex justify-content-between align-items-center">
                                    <p class="text-dark font-weight-semibold m-b-0">
                                        <i class="anticon anticon-bell"></i>
                                        <span class="m-l-10">Thông báo</span>
                                    </p>
                                    <a class="btn-sm btn-default btn" href="javascript:void(0);">
                                        <small>Xem tất cả</small>
                                    </a>
                                </div>
                                <div class="relative">
                                    <div class="overflow-y-auto relative scrollable" style="max-height: 300px">
                                        <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                            <div class="d-flex">
                                                <div class="avatar avatar-blue avatar-icon">
                                                    <i class="anticon anticon-mail"></i>
                                                </div>
                                                <div class="m-l-15">
                                                    <p class="m-b-0 text-dark">Bạn đã nhận được một tin nhắn mới</p>
                                                    <p class="m-b-0"><small>8 phút trước</small></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                            <div class="d-flex">
                                                <div class="avatar avatar-cyan avatar-icon">
                                                    <i class="anticon anticon-user-add"></i>
                                                </div>
                                                <div class="m-l-15">
                                                    <p class="m-b-0 text-dark">Người dùng mới đã đăng ký</p>
                                                    <p class="m-b-0"><small>7 tiếng trước</small></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                            <div class="d-flex">
                                                <div class="avatar avatar-red avatar-icon">
                                                    <i class="anticon anticon-user-add"></i>
                                                </div>
                                                <div class="m-l-15">
                                                    <p class="m-b-0 text-dark">Cảnh báo hệ thống</p>
                                                    <p class="m-b-0"><small>8 giờ trước</small></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item d-block p-15 ">
                                            <div class="d-flex">
                                                <div class="avatar avatar-gold avatar-icon">
                                                    <i class="anticon anticon-user-add"></i>
                                                </div>
                                                <div class="m-l-15">
                                                    <p class="m-b-0 text-dark">Bạn có một bản cập nhật mới</p>
                                                    <p class="m-b-0"><small>2 ngày trước</small></p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-animated scale-left">
                            <div class="pointer" data-toggle="dropdown">
                                <div class="avatar avatar-image  m-h-10 m-r-15">
                                     <img src="~/images/users/@User.FindFirst("Avatar").Value" alt="">
                                </div>
                            </div>
                            <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
                                <div class="p-h-20 p-b-15 m-b-10 border-bottom">
                                    <div class="d-flex m-r-50">
                                        <div class="avatar avatar-lg avatar-image">
                                           @* <img src="~/Adminassets/images/avatars/thumb-3.jpg" alt="">*@
                                            <img src="~/images/users/@User.FindFirst("Avatar").Value" alt="">
                                        </div>
                                        <div class="m-l-10">
                                            <p class="m-b-0 text-dark font-weight-semibold">@User.Identity.Name</p>
                                            @{

                                            }
                                            <p class="m-b-0 opacity-07">@User.FindFirst("RoleId").Value</p>

                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <i class="anticon opacity-04 font-size-16 anticon-user"></i>
                                            <span class="m-l-10">Chỉnh sửa thông tin cá nhân</span>
                                        </div>
                                  
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <i class="anticon opacity-04 font-size-16 anticon-lock"></i>
                                            <span class="m-l-10">Thiết lập tài khoản</span>
                                        </div>
                                  
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item d-block p-h-15 p-v-10">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <i class="anticon opacity-04 font-size-16 anticon-project"></i>
                                            <span class="m-l-10">Điều khoản sử dụng</span>
                                        </div>
                                      
                                    </div>
                                </a>
                                <a href="/Admin/dang-xuat-user.html" class="dropdown-item d-block p-h-15 p-v-10">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <i class="anticon opacity-04 font-size-16 anticon-logout"></i>
                                         
                                         <span class="m-l-10">Đăng xuất</span>
                                        </div>
                                       
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>    
            <!-- Header END -->

            <!-- Side Nav START -->
            @await Html.PartialAsync("_SideNavPartialView.cshtml")
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">
                
                <!-- Content Wrapper START -->
                <div class="main-content">
 
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content">
                        <p class="m-b-0"></p>
                        <span>
                            & 
                            <a href="" class="text-gray m-r-15"> Điều khoản &amp; Điều kiện</a>
                            <a href="" class="text-gray">Quyền riêng tư &amp; Chính sách</a>
                        </span>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->

        </div>
    </div>

    
    <!-- Core Vendors JS -->
    <script src="~/Adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/Adminassets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/Adminassets/js/pages/dashboard-e-commerce.js"></script>
 

    <!-- Core JS -->
    <script src="~/Adminassets/js/app.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",required: false)
</body>

</html>