@model MarketOnlineWebsite.Models.Location

@{
    ViewData["Title"] = "Thêm mới thông tin phường xã";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminWards" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Danh sách phường/xã</a>
            <span class="breadcrumb-item active">Thêm mới phường/xã</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminWards" asp-action="Create" method="post" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">

            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu thông tin phường/xã</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin cơ bản</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Thông tin tùy chọn</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="PageName">Tên phường/xã</label>
                            <input type="text" class="form-control" asp-for="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productSupplier">Danh sách quận huyện</label>
                            <select class="custom-select" style="min-width: 180px;" asp-for="Parent" asp-items="ViewBag.LsQuanHuyen">
                                <option value="0" disabled selected> 
                                    Chọn quận/huyện
                                    </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="title">Sluq</label>
                        <input type="text" asp-for="Slug" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="tags">Tên thể loại</label>
                        <input type="text" asp-for="NameWithType" class="form-control" />
                    </div>
                     <div class="form-group">
                        <label class="font-weight-semibold" for="tags">Thể loại</label>
                           <select class="custom-select" style="min-width: 180px;" asp-for="Type">
                                <option value="0" disabled selected> 
                                    Chọn phường/xã
                                 </option>
                                  <option value="1" > 
                                      Phường
                                 </option>
                                  <option value="2" > 
                                      Xã
                                 </option>
                                 <option value="3" > 
                                      Khác
                                 </option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
