<header class="main-header_area position-relative">
    <div class="header-middle py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="header-middle-wrap">
                        <a href="/" class="header-logo">
                            <img src="~/Userassets/images/logo/dark.png" alt="Harmic">
                        </a>
                        <div class="header-search-area d-none d-lg-block">
                            <form action="#" class="header-searchbox">
                                <input id="ProductName" name="ProductName" class="findproduct input-field" type="text"
                                    placeholder="Tìm kiếm sản phẩm">
                                <button class="btn btn-outline-whisper btn-primary-hover" type="submit"><i
                                        class="pe-7s-search"></i></button>
                            </form>
                        </div>
                        <div class="header-right">
                            <ul>
                                <li class="dropdown d-none d-md-block">
                                    <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button"
                                        id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="pe-7s-users"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a class="dropdown-item" href="/my-account.html">Tài khoản của tôi</a></li>
                                            <li><a class="dropdown-item" href="/dang-xuat.html">Đăng xuất</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="dropdown-item" href="/dang-ky.html">Đăng ký tài khoản</a></li>
                                            <li><a class="dropdown-item" href="/dang-nhap.html">Đăng nhập</a></li>
                                        }


                                    </ul>
                                </li>
                                <li class="d-none d-md-block">
                                    <a href="#">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="d-block d-lg-none">
                                    <a href="#searchBar" class="search-btn toolbar-btn">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li id="numberCart" class="minicart-wrap me-3 me-lg-0">
                                    @await Component.InvokeAsync("NumberCart")
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header header-sticky" data-bg-color="#bac34e">
        <div class="container">
            <div class="main-header_nav position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-12 d-none d-lg-block">
                        <div class="main-menu">
                            <nav class="main-nav">
                                <ul>
                                    <li class="drop-holder">
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="About">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Product" asp-action="Index">Sản phẩm</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Blog" asp-action="Index">Blog</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Contact">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu_wrapper" id="mobileMenu">
        <div class="harmic-offcanvas-body">
            <div class="inner-body">
                <div class="harmic-offcanvas-top">
                    <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <div class="offcanvas-user-info text-center px-6 pb-5">
                    <ul class="dropdown-wrap justify-content-center text-silver">
                        <li class="dropdown dropup">
            
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButtonTwo">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a class="dropdown-item" href="/my-account.html">Tài khoản của tôi</a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item" href="/dang-ky.html">Đăng ký tài khoản</a></li>
                                    <li><a class="dropdown-item" href="/dang-nhap.html"> Đăng nhập</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-menu_area">
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                             <li >
                                <a href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="About">Về chúng tôi</a>
                            </li>
                            <li>
                                <a asp-controller="Product" asp-action="Index">Sản phẩm</a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li>
                             <a asp-controller="Home" asp-action="Contact">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-search_wrapper" id="searchBar">
        <div class="harmic-offcanvas-body">
            <div class="container h-100">
                <div class="offcanvas-search">
                    <div class="harmic-offcanvas-top">
                        <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                    </div>
                    <span class="searchbox-info">Start typing and press Enter to search</span>
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Search">
                        <button class="search-btn" type="submit"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        @await Component.InvokeAsync("HeaderCart")
    </div>
    <div class="global-overlay"></div>
</header>
<!-- Main Header Area End Here -->
