@model MarketOnlineWebsite.ModelViews.RegisterVM

@{
    ViewData["Title"] = "RegisterAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="Userassets/images/breadcrumb/bg/1-1.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Đăng ký tài khoản</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Đăng ký tài khoản </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="RegisterAccount">
                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <div class="login-form">
                            <h4 class="login-title">Đăng ký tài khoản</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ và tên*</label>
                                    <input type="text" asp-for="FullName" placeholder="Họ và tên">
                                     <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                               <div class="col-md-12">
                                    <label>Địa chỉ email*</label>
                                    <input type="text" asp-for="Email" placeholder="Địa chỉ emai">
                                     <span asp-validation-for="Email" class="text-danger"></span>
                                     <span asp-Validation-Message="Email" class="text-danger"></span>
                                </div>
                                 <div class="col-md-12">
                                    <label>Số điện thoại*</label>
                                    <input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                                     <span asp-validation-for="Phone" class="text-danger"></span>
                                     <span asp-Validation-Message="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu*</label>
                                    <input type="password" asp-for="Password" placeholder="Mật khẩu">
                                     <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Nhập lại mật khẩu*</label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu">
                                     <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" style="margin-top: 16px;">Đăng ký</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
